@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


// css variables
$dark-brown-clr :#D87D4A;
$lght-black-clr :#101010;
$lght-shade-white-clr :#F1F1F1;
$shade-white-clr :#FAFAFA;
$lght-bronw-clr :#fbaf85;
$white-clr :#FFFFFF;
$black-clr :#000000;


$fs:'Manrope', sans-serif;



$fw-extralght:200;
$fw-lght :300;
$fw-reg :400;
$fw-med :500;
$fw-semibold :600;
$fw-bold :700;
$fw-extrabold :800;

